.btn {
  padding: 10px 10px 10px 10px;
  background-color: $shadowGrey;
  border: 2px solid $logoYellow;
  border-radius: 10%;
  text-shadow: 0 0 0;

  &--hover {
    color: $shadowGrey;
    background: $logoYellow;
    border-color: $shadowGrey;    
  }
}
